body {
	background-repeat:repeat;
	text-align: center; /* pour corriger le bug de centrage IE */
	background-color:#E5E5E5;
}


#schema
{
   position: absolute;
   top:40px;
   left:370px;
   
}

#presentation
{
    position: absolute;
   top:40px;
   left:10px;
   width:330px;
   height:500px;
   border-right:1px solid #A5A5A5;   
}

#toi
{   
   top:275px;  
}

#moi
{   
   top:370px;  
}

#toi_moi
{   
   top:480px;  
}

#contact
{   
   top:525px;  
}
