body {
	background-repeat:repeat;
	text-align: center; /* pour corriger le bug de centrage IE */
	background-color:#E5E5E5;
}


#schema
{
   position: absolute;
   top:20px;
   left:370px;
   
}

#presentation
{
	position: absolute;
	top:20px;
	left:10px;
	width:330px;
	height:500px;
	padding: 0;      
}

a
{
	color:#0080FF;
}

p
{
    font-size:0.8em;
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:100;
	
}

h2
{
	font-size:0.9em;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	color:#CB161D;
}

#toi
{   
   top:275px;  
}

#moi
{   
   top:370px;  
}

#toi_moi
{   
   top:480px;  
}

#contact
{   
   top:525px;  
}
