a {
	color: #0080ff;
}

#lang
{
	position: fixed;
	right:7px;
	top:2px;
	 font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: 550;
   font-size: 13px;
}

#global
{

  position:relative;
  margin-left: auto; 
  margin-right: auto; 
  margin-top:0px;
  
  width:900px;
  text-align: left; 

}

#logo
{
   position:absolute;
   top:15px;
   width:417px;
   height:156px;
   
   
}
#rabbits
{
   position:absolute;
   top:15px;
   left:400px;
   
}
#menus
{
   border:0px solid black;
   position:absolute;
   left:700px;
   top:85px;
   width:335px;
}


#content
{
	position:relative;
	width:100%;
	height:550px;
	top:152px;
	background-image:url(../images/bgContent.gif);
	border:1px solid #A5A5A5;
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: left; 
	
}

.roundCorner
{
	-moz-border-radius: 5px ; 
	-webkit-border-radius: 5px ; 
	border-radius: 5px ;

}


.homePageText
{
   position:absolute;
   width:450px;
   left:50px;
   color:black;

   border:0px solid black;

   font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: 550;
   font-size: 13px;
   line-height: 1.4em;
   text-align: center;
}
